/nbproject/
/build/
/install/
*.cmake
/CMakeFiles/
/CMakeScripts/
CMakeCache.txt
/Release/
/Debug/
/Yacas.build/
/Yacas.xcodeproj/
/JavaYacas/CVersion.java
/TEST-net.sf.yacas.YacasTest.xml
/yacas-logfile.txt
/jyacas/net/sf/yacas/CVersion.java
.DS_Store
.vscode/ipch/*
*.pyc
.vs/
out/