body 
{
	background-color:White;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	font-size:12;
}

.codeEditor 
{
	width: 750px; 
	height: 400px; 
	background-color: #FFFFFF;	
	border-style:none;
}

.aboutlink
{
	color:#0000ff;
	font-family:Verdana, Arial, Helvetica, sans-serif;	
	font-size:12;
}

.librarylink
{
	color:#000000;
	cursor:pointer;
}

.commandlink 
{
	color:#0000ff;
	cursor:pointer;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12;
}

.linkcalc
{
	text-decoration:none;
	color:#0000ff;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12;
}


