Source: yacas
Section: math
Priority: extra
Maintainer: Grzegorz Mazur <teoretyk@gmail.com>
Standards-Version: 3.9.8
Build-Depends: debhelper (>=9),
               cmake,
               python-sphinx,
               python-sphinx-rtd-theme,
	       libqt5webkit5-dev,
	       libssl-dev,
	       libzmqpp-dev,
	       libzmq3-dev,
	       libboost-date-time-dev,
	       libboost-program-options-dev,
	       libjsoncpp-dev
Homepage: http://www.yacas.org

Package: yacas-common
Architecture: all
Depends: ${misc:Depends}
Description: Easy to use, general purpose Computer Algebra System
 Yacas is an easy to use, general purpose Computer Algebra System, a
 program for symbolic manipulation of mathematical expressions. It
 uses its own programming language designed for symbolic as well as
 arbitrary-precision numerical computations. The system has a library
 of scripts that implement many of the symbolic algebra operations;
 new algorithms can be easily added to the library. Yacas comes with
 extensive documentation covering the scripting language, the
 functionality that is already implemented in the system, and the
 algorithms we used.

Package: yacas-console
Architecture: any
Depends: yacas-common (= ${source:Version}), yacas-doc (= ${source:Version}), gnuplot, ${shlibs:Depends}, ${misc:Depends}
Description: Easy to use, general purpose Computer Algebra System
 Yacas is an easy to use, general purpose Computer Algebra System, a
 program for symbolic manipulation of mathematical expressions. It
 uses its own programming language designed for symbolic as well as
 arbitrary-precision numerical computations. The system has a library
 of scripts that implement many of the symbolic algebra operations;
 new algorithms can be easily added to the library. Yacas comes with
 extensive documentation covering the scripting language, the
 functionality that is already implemented in the system, and the
 algorithms we used.

Package: yacas-gui
Architecture: any
Depends: yacas-common (= ${source:Version}), yacas-doc (= ${source:Version}), ${shlibs:Depends}, ${misc:Depends}
Description: Graphical User Interface for yacas
 Yacas is an easy to use, general purpose Computer Algebra System, a
 program for symbolic manipulation of mathematical expressions. It
 uses its own programming language designed for symbolic as well as
 arbitrary-precision numerical computations. The system has a library
 of scripts that implement many of the symbolic algebra operations;
 new algorithms can be easily added to the library. Yacas comes with
 extensive documentation covering the scripting language, the
 functionality that is already implemented in the system, and the
 algorithms we used.

Package: yacas-kernel
Architecture: any
Depends: ${shlibs:Depends}, yacas-common (= ${source:Version}), yacas-doc (= ${source:Version}), ${misc:Depends}
Description: Yacas kernel for Jupyter
 Yacas is an easy to use, general purpose Computer Algebra System, a
 program for symbolic manipulation of mathematical expressions. It
 uses its own programming language designed for symbolic as well as
 arbitrary-precision numerical computations. The system has a library
 of scripts that implement many of the symbolic algebra operations;
 new algorithms can be easily added to the library. Yacas comes with
 extensive documentation covering the scripting language, the
 functionality that is already implemented in the system, and the
 algorithms we used.

Package: yacas-doc
Architecture: all
Section: doc
Depends: ${misc:Depends}
Suggests: yacas-console (= ${binary:Version}), yacas-gui (= ${binary:Version})
Description: Documentation for Yacas
 Yacas documentation. Yacas is an easy to use, general purpose
 Computer Algebra System, a program for symbolic manipulation of
 mathematical expressions. It uses its own programming language
 designed for symbolic as well as arbitrary-precision numerical
 computations. The system has a library of scripts that implement many
 of the symbolic algebra operations; new algorithms can be easily
 added to the library. Yacas comes with extensive documentation
 covering the scripting language, the  functionality that is already
 implemented in the system, and the algorithms we used.

Package: yacas-dev
Architecture: any
Section: devel
Depends: ${misc:Depends}
Suggests: yacas-console (= ${binary:Version}), yacas-gui (= ${binary:Version})
Description: Development files for Yacas
 Header files and libraries necessary for yacas development. Yacas is
 an easy to use, general purpose Computer Algebra System, a program
 for symbolic manipulation of mathematical expressions. It uses its
 own programming language designed for symbolic as well as
 arbitrary-precision numerical computations. The system has a library
 of scripts that implement many of the symbolic algebra operations;
 new algorithms can be easily added to the library. Yacas comes with
 extensive documentation covering the scripting language, the
 functionality that is already implemented in the system, and the
 algorithms we used.
