[Desktop Entry]
Name=yacas-gui
Comment=Yacas GUI
Exec=yacas.gui
Icon=/snap/yacas/current/meta/gui/yacas-gui.png
Terminal=false
Type=Application
Categories=Education;Science;Math;
